
html {
	box-sizing: border-box;
}

.flex-container {
	display: flex;
	flex-direction: column;
	max-width: 100%;
}

.container {
	/**max-width: 1356px;**/
	flex: 1 0 auto;
	margin: auto;
}

.navbar {
	display: flex;
	justify-content: space-between;
	background-color: #fff;
	border-bottom: 1px solid #ccc;
}

p, a, li, footer {
	font-family: 'Muli', 'Helvetica Neue', sans-serif;
	line-height: 150%;
	letter-spacing: .4px;
	
	
}

p, a, li  {
	color: #777;
	font-size: 16px;
}

ul {
	display: flex;
	align-items: center;
}

li a {
	text-decoration: none;
	padding: 0 5px 0 5px;
	border-right: 1px #ddd solid;

}

h1, h3 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	line-height: 150%;
	letter-spacing: 1px;
	font-weight: bold;
}

h1 {
	font-size: 30px;
	
}

h3 {
	font-size: 24px;
}

h4 {
	font-family: 'Georgia', Times, 'Times New Roman', serif;
	line-height: 150%;
	letter-spacing: 1px;
	font-size: 18px;
}

hr {
	border: 0;
	height: 0;
	border-bottom: 1px solid #ccc;
	border-top: 1px solid #ccc;
	margin-left: 0;
	margin-right: 0;
}

form {
	width: 650px;
}

textarea {
	border: 1px #ccc solid;
}

.active {
	background-color: #ccc;
	color: #666;
}

.header {
	color: #4aaaa5;
}

.main-logo {
	background-color: #4aaaa5;
	color: #fff;
	padding: 20px;
	margin-left: 100px;
}

a:hover {
	color: #4aaaa5;
}


.content-container {
	display: flex;
	background-color: #fff;
	background: url("../images/roughcloth.png");
	justify-content: space-around;
}

.content, .social {
	background-color: #fff;
	border: 1px solid #ddd;
	padding: 30px;
}

#gallery {
	padding-left: 20px;
	padding-right: 20px;
}

#gallery-header {
	margin-left: 20px;
}

.flex-content {
	max-width: 650px;
	display: flex;
	justify-content: center;
	flex-direction: column;

}

.content {
	max-width: 650px;
	margin: 100px;
	margin-right: 30px;
	flex-grow: 2;
}

.flex-image {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
	max-width: 480px;
}

.flex-image image {
	width: 100%;
	height: auto;
	z-index: 1;
}

.image-box {
	max-width: 100%;
	position: relative;

}

.caption {
	background-color: #4aaaa5;
	color: white;
	width:200px;
	height: 30px;
	z-index: 2;
	text-align: center;
	position: absolute;
	top: 100px;
	padding-top: 5px;
	padding-bottom: 5px;
	margin-left: 20px;
}


.image {
	float: left;
	padding: 20px;
	padding-left: 0px;
	padding-bottom: 10px;
}

.placeholder {
	max-width: 270px;
	padding: 20px;
}

.main-text {
	justify-content: flex-end;
	flex-wrap: wrap;
	padding: 20px 10px 10px 10px;
}

.social {
	max-width: 270px;
	margin: 100px 100px 100px 30px;
	flex-grow: 1;
}

.hr-social {
	margin-top: 17px;
	margin-bottom: 20px;
}

.media-box {
	display: flex;
	flex-direction: row;
}

.icon {
	width: 50px;
	height: 50px;
	margin: auto;

}

.flex-fix {
	flex-direction: column;
}




footer {
	background-color: #666666;
	color: #fff;
	text-align: center;
	font-size: small;
	padding: 30px 0px 30px 0px;
	border-top: 7px solid #4aaaa5;
}